@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    font-family: 'Raleway', sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;

}

.container-fluid {
    height: 5190px;
}

.header {
    height: 800px;
    background: url(./src/img/header-photo.png) right / 946px 800px no-repeat #7036BA;

}

.logo {
    margin-top: 25px;
    margin-left: 300px;
}

.nav {
    margin-left: 937px;
    margin-top: -50px;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
}

.header-train-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 540px;
    height: 160px;
    margin-left: 300px;
    margin-top: 135px;
}

.header-train-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 540px;
    height: 60px;
    margin-left: 300px;
    margin-top: 40px;
}

.header-train-btn {
    width: 261px;
    height: 65px;
    padding-top: 20px 50px;
    border-radius: 50px;
    background: #00BFB4;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #FFFFFF;
    border: none;
    margin-left: 300px;
    margin-top: 40px;
}

.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 629px;
    padding-top: 100px;
    gap: 30px;
}

.about-us-title {
    text-align: center;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0%;
    color: #333333;
    margin-top: 50px;
}

.about-us-video {
    cursor: pointer;
}

.how {
    background: blue;
    height: 480px;
    gap: 10px;
    background: #7036BA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}


.how-info {
    max-width: 1140px;
    min-width: 320px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.how-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.how-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    max-width: 1110px;
    min-width: 300px;
    height: 50px;

}

.how-group {
    display: flex;
    align-items: center;
    max-width: 350px;
    min-width: 300px;
    height: 100px;
    gap: 5px;
}

.how-group-num {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 75px;
    line-height: 55px;
    letter-spacing: 0%;
    color: #FFFFFF;

}

.how-group-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 310px;
    height: 100px;

}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 75px;
}

.features-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0%;
    color: #333333;
}

.features-group {
    display: flex;
    gap: 30px;
}

.features-item {
    width: 350px;
    height: 160px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features-img {
    width: 70px;
    height: 70px;

}

.features-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    color: #333333;
}

.features-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    color: #333333;
    width: 350px;
    height: 40px;

}

.features-button {
    width: 261px;
    height: 65px;
    gap: 10px;
    border-radius: 50px;
    background: #00BFB4;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 710px;
    background: #7036BA;
    gap: 50px;
    margin-top: 100px;
}

.pricing-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.pricing-group {
    display: flex;
    gap: 30px;
}

.pricing-item {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 405px;
    gap: 20px;
    border-radius: 5px;
    background: #A76BF2;
    padding-left: 10px;
    padding-top: 15px;
}

.pricing-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.pricing-point {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.pricing-list {
    width: 330px;
    height: 150px;
}

.pricing-price-gr {
    display: flex;
}

.pricing-price {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #FFFFFF;
}

.pricing-month {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #FFFFFF;
}

.pricing-button {
    width: 132px;
    height: 55px;
    gap: 10px;
    border-radius: 50px;
    border: solid 2px #FFFFFF;
    background: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #FFFFFF;

}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.feedback-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0%;
    color: #333333;
    margin-top: 100px;
}

.carousel-control-next-icon{
    background-image: url(./src/img/arrow-next.png);
   
}

.carousel-control-prev-icon{
    background-image: url(./src/img/arrow-next.png);
    rotate: 180deg;
    margin-right: 30px;
}

.feedback-carousel-text{
    text-align: left;
    width: 315px;
}

.feedback-card{
    width: 540px;
    display: flex;
    gap: 30px;
}

.d-block{
    width: 125px;
height: 155px;
margin-left: 30px;
}


.accordion {
    max-width: 1140px;
    min-width: 300px;
    height: 400px;
    margin-top: 20px;
}

.accordion-button {
    color: white !important;
    background: #7036BA !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0%;

}

.accordion-item {
    border: none !important;
    max-width: 730px;
    min-width: 300px;
}

.accordion-collapse {
    background: #7036BA !important;
    color: white !important;
}

.accordion-button::after {
    background-image: url(./src/img/arrow-up.png) !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.list-marker {
    margin-right: 10px;
}

.accordion-body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #FFFFFF;
    max-width: 690px;
    min-width: 300px;
}

.sec-accordion-title {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0%;
    padding-top: 100px;
}

.sec-accordion {
    background: #7036BA;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.start-train {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 100px;
}

.start-train-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0%;
    color: #333333;
}

.start-train-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    color: #333333;
    max-width: 741px;
    min-width: 330px;
}

.start-train-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 540px;
}

.btn{
    width: 261px;
height: 65px;
gap: 10px;
border-radius: 50px;
background: #00BFB4;
border: none;
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 25px;
line-height: 25px;
letter-spacing: 0%;

}

.footer{
    height: 125px;
    background: #7036BA;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 850px;
}

.footer-terms{
    font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 25px;
letter-spacing: 0%;
color: #FFFFFF;
text-decoration: none;
}

.footer-info{
    font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 20px;
line-height: 25px;
letter-spacing: 0%;
color: #FFFFFF;
}


@media (max-width:432px) {
    .header{
        width: 376px;
height: 805px;
background: url(./src/img/header-photo.png) bottom / 376px 327px no-repeat #7036BA;

    }
    .header-train-title{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 80px;
        letter-spacing: 0%;
        color: #FFFFFF;
        margin-left: 0;
        width: 330px;
height: 180px;
text-align: center;
margin-top: -200px;

    }

.logo{
    margin-left: 0;
}

    .header-train-text{
        width: 330px;
height: 90px;
margin-left: 0;
text-align: center;
margin-top: 60px;
    }

    .header-train-btn{
        margin-left: 50px;
    }
    .about-us-video{
        width: 330px;
height: 198px;

    }
    .how {
        height: 720px;
    }

    .how-group {
        margin-top: 30px;
    }

    .start-train-form {
        width: 330px;
        height: 295px;
    }
    .features{
        height: 895px;
    }
    .features-group{
        display: flex;
        flex-direction: column;
        
    }

    .pricing{
        height: 1480px;
    }
    .pricing-group{
        display: flex;
        flex-direction: column;
    }
    .feedback{
        
        width: 376px;
height: 735px;
text-align: center;
margin-top: -100px;
    }
    .feedback-title{
        padding-top: 50px;
    }
    .feedback-card{
        width: 330px;
height: 475px;
display: flex;
flex-direction: column-reverse;

    }
    .feedback-carousel-text{
        width: 230px;
height: 250px;
margin-left: 30px;

    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 23px;
        width: 376px;
height: 115px;
gap: 10px;
    }
}



